:root {
	--page-bg-color: hsl(185, 95%, 70%);
	--app-bg-color: #fff;
	--app-corner-radius: 16px;
	--app-lr-padding: 1rem;

	--text-color-titles: hsl(195, 95%, 55%);
	--text-color-dark: hsl(0, 0%, 35%);

	--icon-ring-color-blue: hsl(185, 95%, 55%);
	--icon-ring-color-pink: hsl(330, 75%, 65%);

	--dotted-line-color: hsla(195, 95%, 55%, 0.25);

	--fancy-font: 'Delius Unicase', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: 'Varela Round', sans-serif;
	background-color: var(--page-bg-color);
	user-select: none;
}

/* resets */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/* common components */
.sm-c-btn {
	--button-size: 40px;
	--button-color: hsl(195, 95%, 55%);
	--button-bg-color: #fff;
	--translate-x: 0;
	--translate-y: 0;
	--scale: 1.0;

	border: 4px solid var(--button-color);
	border-radius: 50%;
	width: var(--button-size);
	height: var(--button-size);
	flex-shrink: 0;
	font-size: 1.7rem;
	color: var(--button-color);
	background-color: var(--button-bg-color);
	transition: all 200ms ease, transform 0ms;
	transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));
}

.sm-c-btn:hover {
	color: var(--button-bg-color);
	background-color: var(--button-color);
	cursor: pointer;
}

.sm-c-btn:active {
	--scale: 0.9;
}

.lg-r-btn {
	--button-color: var(--app-bg-color);
	--button-bg-color: hsl(330, 75%, 65%);

	margin: 1rem auto;
	padding: 1rem 3rem;
	border: none;
	border-radius: 8px;
	display: block;
	min-width: 400px;
	color: var(--button-color);
	background-color: var(--button-bg-color);
	box-shadow: 0px 8px hsl(330, 75%, 45%);
	font-size: 20px;
	font-weight: 700;
	font-family: var(--fancy-font);
	text-shadow: 0px 0px 8px #444f;
	transition: all 200ms ease, transform 0ms, box-shadow 0ms;
}

.lg-r-btn:hover {
	--button-bg-hover-color: hsl(330, 50%, 60%);

	background-color: var(--button-bg-hover-color);
	cursor: pointer;
}

.lg-r-btn:active {
	transform: translateY(5px);
	box-shadow: 0px 3px hsl(330, 75%, 40%);
}

.lg-r-btn:focus-visible {
	outline: none;
}

/* structure */
.container {
	width: 600px;
	margin: 0 auto;
	padding: 1rem 0;
}

.round-icon {
	--icon-size: 80px;
	--accent-color: #eee;
	--hover-rotation: -15deg;

	width: var(--icon-size);
	height: var(--icon-size);
	background-color: var(--accent-color);
	border: 4px solid var(--accent-color);
	border-radius: 50%;
	transition: all 350ms ease;
}

.round-icon:hover {
	transform: rotateZ(var(--hover-rotation));
}

.section-header {
	padding: 1rem 0;
	color: var(--text-color-titles);
	background-color: var(--app-bg-color);
	display: flex;
	align-items: center;
	font-family: var(--fancy-font);
	text-transform: lowercase;
	text-shadow: 0px 0px 8px #1116;
	text-align: center;
}

.section-header > .lg-ctr {
	flex-grow: 1;
	font-size: 32px;
}

.store-header {
	padding: 1rem var(--app-lr-padding);
	border-radius: var(--app-corner-radius) var(--app-corner-radius) 0 0;
	gap: 1rem;
}

.store-header > .store-name-info {
	flex-grow: 1;
}

.store-header > .store-icon {
	--icon-size: 100px;
	--accent-color: var(--icon-ring-color-blue);
}

.store-header > .store-icon:hover {
	transform: rotateZ(-15deg);
}

.menu-section {
	margin-bottom: 1rem;
	padding: 0.5rem var(--app-lr-padding);
	border-radius: 0 0 var(--app-corner-radius) var(--app-corner-radius);
	background-color: var(--app-bg-color);
}

.menu-header {
	padding: 0.5rem 0;
	border-top: 2px dotted var(--dotted-line-color);
	justify-content: space-between;
	text-align: center;
}

.menu-header > .menu-icon {
	--icon-size: 70px;
	--accent-color: var(--icon-ring-color-pink);
	--hover-rotation: 15deg;
}

.menu-items {
	display: flex;
	flex-direction: column;
}

.menu-item {
	border-top: 2px dotted var(--dotted-line-color);
	padding: 0.5rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	color: var(--text-color-dark);
	transition: all 200ms ease;
}

.menu-item h3 {
	font-size: 17px;
	transition: all 200ms ease;
}

.menu-item:hover h3 {
	text-shadow: 0px 0px 8px #1cbbf980;
}

.menu-item p {
	font-size: 14px;
	transition: all 200ms ease;
}

.menu-item:hover p {
	text-shadow: 0px 0px 8px #1cbbf980;
}

.menu-item > .item-icon {
	--icon-size: 60px;
	--accent-color: hsl(195, 95%, 55%);
}

.menu-item:hover > .item-icon {
	box-shadow: 2px 2px 8px #1cbbf9f0;
}

.menu-item > .item-details {
	flex-grow: 1;
}

.menu-item > .item-price {
	min-width: 50px;
	font-size: 24px;
	font-weight: 700;
	text-align: right;
}

.menu-footer {
	height: 0rem;
}

.order-section {
	padding: 0 var(--app-lr-padding);
	border-radius: var(--app-corner-radius);
	color: var(--text-color-dark);
	background-color: var(--app-bg-color);
}

.order-section.hidden {
	display: none;
}

.order-header {
	justify-content: space-between;
}

.order-header > .ticket-icon {
	--icon-size: 70px;
	--accent-color: var(--icon-ring-color-blue);
}

.order-item {
	border-top: 2px dotted var(--dotted-line-color);
	padding: 0.5rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	transition: all 200ms ease;
}

.order-item > p {
	font-size: 17px;
	font-weight: 700;
}

.order-item > .order-item-total {
	font-size: 22px;
	margin-left: auto;
}

.order-item-desc {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
}

.delete-btn {
	--button-color: hsl(0, 85%, 60%);
}

.order-footer {
	border-top: 2px solid var(--dotted-line-color);
	padding-bottom: 0.5rem;
}

.order-total-group {
	padding: 0.5rem 0;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: end;
}

.order-total-group > p {
	font-size: 22px;
	font-weight: 700;
}

footer {
	padding: 1rem 0;
	font-family: var(--fancy-font);
	color: var(--text-color-dark);
	text-align: center;
}

footer p {
	font-size: 11px;
	font-weight: 700;
}

/* modal stuff */

.modal-container {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;;
	width: 100%;
	height: 100%;
	background-color: hsla(195, 95%, 35%, 0.25);
	backdrop-filter: blur(6px);
}

.modal-container.hidden,
.modal-container .hidden {
	display: none;
}

.modal-frame {
	/* background-color: #4444;
	border: 4px dashed coral; */
	width: 100%;
	height: 100vh;
	top: 0;
	position: sticky;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal {
	--modal-width: 500px;

	padding: 0 var(--app-lr-padding) 0.5rem var(--app-lr-padding);
	width: var(--modal-width);
	color: var(--text-color-dark);
	background-color: var(--app-bg-color);
	border-radius: var(--app-corner-radius);
	box-shadow: 0 4px 6px #4444;
	display: flex;
	flex-direction: column;
	position: relative;
}

.close-btn {
	--translate-x: 25%;
	--translate-y: -25%;

	top: 0;
	right: 0;
	position: absolute;
	--button-color: hsl(0, 85%, 60%);
}

.payment-header {
	justify-content: space-between;
}

.payment-header > .payment-icon {
	--accent-color: hsl(330, 75%, 65%);
}

.payment-total {
	border-top: 2px dotted var(--dotted-line-color);
	padding-block: 0.75rem;
	font-family: var(--fancy-font);
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

span#total-amount-due {
	padding: 0.15rem 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--dotted-line-color);
	font-size: 28px;
	font-weight: 700;
}

.payment-form {
	border-block: 2px dotted var(--dotted-line-color);
	padding-block: 1rem;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.payment-form input {
	border: 2px solid var(--dotted-line-color);
	border-radius: 4px;
	padding: 12px 16px;
	font-size: 16px;
}

.payment-form input[type="text"]:focus-visible,
.payment-form input[type="number"]:focus-visible {
	outline: 4px solid var(--dotted-line-color);
}

.pay-btn {
	width: 100%;
}

.receipt-header {
	justify-content: space-between;
}

.receipt-header > .receipt-icon {
	--icon-size: 70px;
	--accent-color: var(--icon-ring-color-pink);
}

.receipt-message {
	border-top: 2px dotted var(--dotted-line-color);
	padding-block: 2rem;
	font-family: var(--fancy-font);
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}
